.back {
	position: relative;

	display: inline-block;

	margin-left: 25px;
	padding: 20px 0;

	cursor: pointer;
	transition: all ease 0.2s;

	color: var(--grey);

	font-size: 20px;
	font-weight: 500;

	&:hover {
		color: var(--blue);

		svg {
			fill: var(--blue);
		}
	}

	&:active {
		transform: translateY(2px);
	}

	svg {
		position: absolute;
		top: 23px;
		left: -25px;

		width: 20px;
		height: 20px;

		transition: all ease 0.2s;
		fill: var(--grey);
	}
}
