@import '../../scss/index';

.wrapper {
	justify-content: right;

	padding: 20px;

	@include flex;

	.sort {
		margin-left: 20px;

		cursor: pointer;
		transition: all ease 0.2s;

		color: var(--grey);

		font-weight: 600;

		@include flex;

		&:hover {
			color: var(--blue);

			svg {
				fill: var(--blue);
			}
		}

		&:last-child {
			padding-left: 20px;

			border-left: 1px solid var(--grey);
		}

		svg {
			width: 20px;
			height: 20px;
			margin-left: 10px;

			transition: all ease 0.2s;
			fill: var(--grey);
		}

		.up {
			transform: rotate(90deg);
		}

		.down {
			transform: rotate(-90deg);
		}
	}

	.active {
		color: var(--blue);

		svg {
			fill: var(--blue);
		}
	}
}
