@import '../../scss/index';

.wrapper {
	.card {
		position: relative;

		width: 886px;
		margin: 0 auto 40px;
		padding: 20px;

		border-radius: 5px;
		background: var(--white);
		box-shadow: 0 4px 4px rgba(0, 0, 0, 0.05);

		@include _laptop {
			width: 656px;
		}

		@include _tablet {
			width: 385px;
		}

		.date {
			position: absolute;
			top: 30px;
			right: 20px;

			color: var(--grey);

			font-size: 12px;
		}

		.top {
			@include flex;
			column-gap: 10px;

			img {
				width: 36px;
				height: 36px;

				border-radius: 50%;
			}

			span {
				color: var(--grey);
			}
		}

		.img {
			@include flexCenterCenter;

			img {
				width: 80%;

				border-radius: 5px;
			}
		}

		.body {
			word-break: break-all;
		}
	}
}
