@import 'src/scss/index';

.wrapper {
	@include flexCenterCenter;
	margin-bottom: 40px;
	column-gap: 10px;

	.paginateBtn {
		color: var(--blue);
		border: 1px solid var(--blue);

		&:hover {
			color: var(--white);
			background: var(--blue);
		}
	}

	.active {
		color: var(--white);
		background: var(--blue);
	}
}
