@import 'src/scss/index';

.wrapper {
  @include flexCenterCenter;
  margin-bottom: 40px;
  column-gap: 10px;

  .paginateBtn {
    color: var(--blue);
    border: 1px solid var(--blue);

    &:hover {
      background: var(--blue);
      color: var(--white);
    }
  }

  .active {
    background: var(--blue);
    color: var(--white);
  }
}