@import 'scss/index';

.wrapper {
	background: var(--white);
	box-shadow: 0 4px 4px rgba(0, 0, 0, 0.05);

	.container {
		max-width: 990px;
		margin: 0 auto;
		padding: 20px;

		@include flexBetweenCenter;

		.logo {
			margin: 0;

			cursor: pointer;
			transition: all ease 0.2s;

			&:hover {
				color: var(--blue);
			}
		}

		.right {
			@include flex;
			column-gap: 40px;

			.favourite {
				@include flex;
				cursor: pointer;
				transition: all ease 0.2s;

				color: var(--grey-light);

				font-weight: 700;
				column-gap: 5px;

				svg {
					transition: all ease 0.2s;
				}

				&:hover {
					color: var(--blue);

					svg {
						fill: var(--blue);
					}
				}
			}
		}
	}
}
