@import 'src/scss/index';

.wrapper {
	.outlet {
		width: 984px;
		margin: 0 auto;
		padding: 0 20px;

		@include _laptop {
			width: 728px;
		}

		@include _tablet {
			width: 425px;
		}

		@include _mobileM {
			width: 375px;
		}
	}
}
