@import 'src/scss/index';

.wrapper {
	.outlet {
		width: 984px;
		margin: 20px auto;
		padding: 0 20px;

		@include _laptop {
			width: 728px;
		}

		@include _tablet {
			width: 425px;
			padding: 0 10px;
		}

		@include _mobileL {
			width: 375px;
		}
	}
}
